<h1>Welcome to <span class=red>Wild</span>cards!</h1>



<table>
<tr>
<% @cards.each do |card| %>
  <td>
    <%= image_tag card.img_src, size: "120x165" %><br>
    <%= link_to "##{card.number}, #{card.name}", "/cards/#{card.id}" %>
  </td>
  
  <% if card.id % 5 == 0 %>
    </tr>
    <tr>
  <% end %>
  
<% end %>
</table>
